*** USE THE CONCEPT OF FUNCTIONS TO SOLVE THE BELOW PROGRAMMING QUESTIONS ***

1) Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:

def sum_of_list(numbers):
    total = 0
    for num in numbers:
        total += num
    return total
sample_list = [8, 2, 3, 0, 7]
print("Sum of the list:", sum_of_list(sample_list))

Sum of the list: 20

2) Write a Python function to multiply all the numbers in a list.

Sample List : (8, 2, 3, -1, 7)

Expected Output : -336

In [2]:

def multiply_list(numbers):
    result = 1
    for num in numbers:
        result *= num
    return result
sample_list = [8, 2, 3, -1, 7]
print("Multiplication of list elements:", multiply_list(sample_list))

Multiplication of list elements: -336

3) Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [3]:

def reverse_string(input_str):
    return input_str[::-1]
sample_string = "1234abcd"
print("Reversed string:", reverse_string(sample_string))

Reversed string: dcba4321

4) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [4]:
def factorial(num):
    if num < 0:
        return "Factorial not defined for negative numbers."
    elif num == 0 or num == 1:
        return 1
    else:
        fact = 1
        for i in range(1, num + 1):
            fact *= i
        return fact
number = 5
print(f"Factorial of {number} is:", factorial(number))

Factorial of 5 is: 120

5) Write a Python function to check whether a number falls within a given range.

In [5]:

def is_in_range(num, start, end):
    if start <= num <= end:
        return True
    else:
        return False
num = 7
range_start = 5
range_end = 10
if is_in_range(num, range_start, range_end):
    print(f"{num} is within the range {range_start} to {range_end}.")
else:
    print(f"{num} is not within the range {range_start} to {range_end}.")

7 is within the range 5 to 10.